






.textTwo{
    font-size: large;
    color: blue;
    margin: 0;
    margin-bottom: 1em;
}


.bottomText{
    font-size: large;
    color: greenyellow;
    margin: 0;
}

.bottomTextTwo{
    font-size:large;
    color: orange;
    margin: 0;
}

