
body{
    font-family: 'Barlow', sans-serif;
    margin: 0;
    height: 100%;
}

.bgWrap {
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: -1;
  }

#bgWrap.light-mode{
    display: none;
}

.bgWrap.home-background{
    background-color: #222222;
    
    /* background-color: #202124; */
    /* background-color: #303134 */
}

h1,h2,h3 {
    margin: 0;
    margin-top: 5px;
    }

h4{
    margin: 0;
    margin-bottom: 10px;
}

ul{
    font-weight: 500;
}

p{
    font-family: 'Playfair Display', sans-serif;
    margin: 0;
}

.background{
    z-index: 0;
    opacity: 40%;
}

.selected{
    display: none;
}

.page-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/*******************Layout******************/

.layout{
    display: flex;
    position: relative;
    flex-flow: column;
    height: 100vh;
    width: 100%;
}

.content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    z-index: 0;
    
}

/*******************Navbar******************/

.css-hip9hq-MuiPaper-root-MuiAppBar-root{
    background-color: #1d1d1d;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0) inset, 0 0 0 0 black;
    position: relative;
}

.in-nav-container{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    font-size: large;
}

.css-j9wkuc-MuiAvatar-root{
    height: fit-content ;
    width: 70px;
    padding-top: 3px;
}

.css-av538e-MuiButtonBase-root-MuiIconButton-root{
    background: none;
    box-shadow: none;
}

.in-nav-container span{
    cursor: pointer;
    margin-right: 1em;
}

.home-link{
    margin-right: 0px !important;
}

.css-6hp17o-MuiList-root-MuiMenu-list{
    
    color: white;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root{
    justify-content: space-evenly;
}

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper{
    background-color: #1d1d1d;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0) inset, 0 0 0 0 black;
    color: white;
    font-size: larger;
    height: fit-content;
    width: max-content;
    
}

.css-h4y409-MuiList-root{
    padding: 20px;
}

.css-1ab221l-MuiGrid-root{
    margin: 5px;
}

/*******************Header********************/
.header{
    display: flex;
    justify-content: center;
    pointer-events: none;
}

.header-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 2%;
    margin-bottom: 1%;
  }

.header-container h1{
    /* color: #fff8ba; */
    color: ghostwhite;
    text-transform: uppercase;
    font-size: 50px;
    margin: 0;
    line-height: 45px;
    letter-spacing: 5px;
    position: relative;
    text-shadow: 1px 1px #585858, 1px 1px #585858, 2px 2px #585858, 3px 3px #585858, 4px 4px #585858, 5px 5px #585858;
    font-family: 'Fjalla One', sans-serif;
    /* transform:  rotate(-10deg);
    display: block;
  float: left;
  left: 50%;
   */
  }

#header-container.light-mode h1{
    /* color: #fff8ba; */
    color: black;
    font-family: "Barlow";
    font-weight: 800;
  }

.header-title-2{ 
    left: 31%;
    display: block;
    margin: 2% 0 !important;
}

.header-title-3{
    left: 60%;
    display: block;
    width: fit-content;
}

/* .header-container span{
    transform: skew(-10deg);
    display: block;
    text-shadow: #585858 1px 1px, #585858 2px 2px, #585858 3px 3px, #585858 4px 4px, #585858 5px 5px, #585858 6px 6px;
    min-width: 10px;
    min-height: 10px;
} */


.header-title:nth-child(1){
    color: --#585858;
}

.header-title:nth-child(2){
    color: --green;
}
    
.header-title:nth-child(3){
    color: --yellow;
}
  

/*******************Home**********************/

.home-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

.card{
    display: flex;
    margin: 2em;
    max-width: 40%;
    /* background-color: #1d1d1d; */
    background-color: #3e3d40;
    /* background-color: #202124; */
    /* background-color: #303134; */
    /* background-color: #211f1f; */
    /* background-color: #313133; */
    background-color: #00000094;
    /* background-color: #22242b; */
    border-radius: 7%;
    transition: all .2s ease-in-out;
}

#card.light-mode{
    background-color: #000;
}

.card:hover{
    position: relative;
    transform: scale(1.1);
}

.card-title{
    /* color: #585858; */
    color: ghostwhite;
    text-transform: uppercase;
    font-size: 33px;
    margin: 0;
    line-height: 45px;
    letter-spacing: 5px;
    position: relative;
}

.css-b6lsxj-MuiButtonBase-root-MuiCardActionArea-root{
    display: flex;
    flex-direction: column;
}

.MuiCardActionArea-focusHighlight {
    background: transparent;
}


.css-46bh2p-MuiCardContent-root {
    padding: 5px 10px 15px 10px;
    height: 100%;
    color: white;
}

.css-o69gx8-MuiCardMedia-root{
    width: fit-content;
    margin: 3% auto;
}

.red{
    background-color: #fa4654;
}

.card-content{
    /* background-color: #3e3d40; */
    /* background-color: #585858; */
    background-color: #303134;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.content-header{
    font-size: 22px;
    color: #fff8ba;
    margin: 0 auto;
}

.card-content p{
    font-family: 'Lato';
    font-size: 18px;
    margin-bottom: 15px;
    text-align: left;
}

.complexity-container{
    margin-top: auto;
    font-size: 20px;
    line-height: 1.5em;
    color: #fff8ba;
    text-align: left;
}

/*******************Top Container**********************/

.top-container{
    display: flex;
    margin: 0 1em 0 1em;
    justify-content: space-evenly;
}

/*******************Explanation**********************/

.explanation-heading{
    font-weight: 600;
    margin-top: 2%;
    margin-bottom: 2%;
    pointer-events: none;
}

.insertion-explanation-heading{
    font-weight: 600;
    font-size: 18px;
    margin: 2% 2% 2% 0;
    pointer-events: none;
}

.explanation {
	font-size: 1.2em;
    width: 60%;
}

.explanation-list{
    list-style: none;
    margin: .5rem 0 0 0;
    padding-inline-start: 0px;
    pointer-events: none;
  }

.explanation-list li{
    margin: .35rem;
    margin-left: 0;
}

.explanation-list li::before{
    position: relative;
    top: 1px;
    content: "";
    background: radial-gradient( 80% 75% at 67% 43%, #abaed1, #1210ed 90% );
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: inline-block;
    color: white;
    margin-right: 0.5rem;
}
  
.insertion-explanation-list{
    list-style: none;
    padding-inline-start: 0px;
    pointer-events: none;
    margin: 0;
  }

.insertion-explanation-list li{
    margin: .35rem;
    margin-left: 0;
    font-size: 18px;
    letter-spacing: .01rem;
    line-height: 1.3em;
}

.insertion-explanation-list li::before{
    position: relative;
    top: 1px;
    content: "";
    background: radial-gradient( 80% 75% at 67% 43%, #abaed1, #1210ed 90% );
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: inline-block;
    color: white;
    margin-right: 0.5rem;
}

.checked-variable{
    color: blue;
}

.array-index{
    color: orangered;
}

.adjacent-element{
    color: green;
}

.sorted-array{
    color: green;
}

.unsorted-array{
    color: orangered;
}

.current-explanation{
    color: blue;
}

.j-element{
    color: red;
}

/*********************Method********************/

.method{
    
    margin-top: auto;
    margin-bottom: auto;
    
}

pre{
   
    font-family: monospace !important;
}

/*******************Bottom Container**********************/

.bottom-container{
    display: flex;
    flex-grow: 1;
    margin-top: 1%;
}

/*******************Side-Display**********************/

.side-display{
	display: flex;
    background: radial-gradient( 68% 75% at 51% 43%, #343232, #000 90% );
    border-radius: 20%;
    margin-left: 5em;
    margin-bottom: auto;
    margin-top: 22px;
    padding: 1%;
    padding-left: .6%;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

.var-container{
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 22px;
    justify-content: space-between;
    pointer-events: none;
}

.insertion-span{
    margin-bottom: .7em;
}

.array-container{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.array-container.insertion{
    height: auto;
}


.array-span{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: .33em;
    letter-spacing: .25em;
    color: #fd5c39;
}

.checked-container{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 5px;
}

.checked-container.insertion{
    flex-grow: 0;
}

/*******************Button Box**********************/

.button-box{
	display: flex;
    flex-direction: column;
	color: white;
    border-right-style: groove;
    border-right-color: #919ca10d;
    padding: 10px 0px;
}

.action-buttons{
    display: flex;
    padding: .1em .35em .5em .5em;
    justify-content: space-evenly;
    gap: 6px;
}

.button{
    box-sizing: border-box;
    appearance: none;
    background-color: #6e5b5b3d;
    border: none;
    border-radius: 30%;
    color: white;
    cursor: pointer;
    display: flex;
    align-self: center;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    transition: background-color 500ms;
    font-size: 15px;
    font-family: 'Barlow', sans-serif;
}

.button:hover {  
    background-color: #fd5c39;
  }

.button:active {  
    background-color: #6e5b5b3d;
  }

.refresh-button{
    padding: .7em .8em;
}

.sort-button{
    padding: .9em .4em;
}

.css-1p823my-MuiListItem-root{
    padding: 0 5px 0 5px;
    margin: 9px 0 9px 0;
}

/*******************SLIDER******************/

.slider-container{
    display: flex;
    padding-top: 1em;
}

.slider{
    color: white;
}

.slider-label{
    font-size: 18px;
    display: flex;
    color: white;
    text-align: center;
    flex-direction: column;
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: 15px;
    margin-left: auto;
    margin-right: auto;
    pointer-events: none;
}

.css-fk6q5t-MuiSlider-root{
    color: white;
}

.css-y35fuw-MuiSlider-thumb{
    border: #fff solid;
    color: #262424;
}

.css-ada0pd-MuiSlider-track{
    width: 10px;
    color: white;
}

.css-qx5f9e-MuiSlider-rail{
    color: transparent;
    width: 10px;
}

.css-eg0mwd-MuiSlider-thumb{
    background-color: white;
}

.css-xxsb21-MuiSlider-markLabel{
    color: white;
    left: 2.6em;
    font-size: 1rem;
}

.css-19l5h75-MuiSlider-markLabel{
    color: #fd5c39;;
    left: 2.6em;
    font-size: 1rem;
}

.css-1wdhkzz-MuiSlider-mark{
    color: transparent;
    width: 6px;
    height: 6px;
    border: #fd5c39 solid 1px;
    border-radius: 50%;
}

/*********************Switch********************/

.switch-container{
    display: flex;
    width: 15%;
    justify-content: space-evenly;
}

.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .switcher {
    height: inherit;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .switcher:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 12px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .switcher {
    background-color: #2196F3;
  }
  
  input:focus + .switcher {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .switcher:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
/*********************Tubes********************/

.row{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    height: 18em;
    gap:1em;
    margin-top: 2%;
}

.row.move-row{
    margin-top: 1%;
}

.tubes { 
    margin-inline: auto; 
    display: flex; 
    flex-wrap: wrap; 
    gap: 2rem; 
    justify-content: center;
}

.tube {
    --width: calc(8vw + 0.6rem); 
    --skew: calc(.5vw + 0.05rem);
    --tube-color: #fff;
    --fill-color: black; 
    width: var(--width);
    aspect-ratio: 1/4.5;
    margin-top: var(--skew);
    border-top-left-radius: 50% var(--skew);
    border-top-right-radius: 50% var(--skew);
    border-bottom-left-radius: 50% var(--skew);
    border-bottom-right-radius: 50% var(--skew);
    display: grid;
    grid-template-rows: max-content auto max-content;
    position: relative;
    pointer-events: none;
}

.tube::before{
    --blur: 6px;
    content: '';
    position: absolute;
    width: calc(70% + var(--width) * 1);
    z-index: -1;
    right: 45px;
    bottom: 3px;
    height: calc(var(--skew) * 10);
    background: #00000068;
    border-radius: 0% 100%;
    filter: blur(var(--blur));
}

.cap-text{
    width: 100%;
    color: var(--fill-color);
    background-color: rgb(0 0 0 / .1);
    padding-top: calc(var(--skew) + var(--width) * .05);
    padding-bottom: calc(var(--width) * .1);
    display: grid;
    place-content: center;
    margin-top: calc(var(--skew) * -.5);
    border-bottom-left-radius: 50% var(--skew);
    border-bottom-right-radius: 50% var(--skew);
    --mask-image: radial-gradient( ellipse 100% calc(var(--skew) * 2) at center top, transparent calc(50% - 1px), black calc(50% + 1px));
    -webkit-mask-image: var(--mask-image);
    mask-image: var(--mask-image);
    font-size: x-large;
    font-style: normal;
}

.cap{
    --cap-height: calc(var(--width) * .4);
    height: calc(var(--cap-height) + var(--skew));
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    background-color: var(--tube-color);
    background-image: linear-gradient(to right, rgb(0 0 0 / .25), transparent 50%);
    position: relative;
    z-index: 2;
    color: var(--fill-color);
    display: grid;
    place-content: center;
    font-family: 'Playfair Display', serif;
    font-size: x-large;
    font-weight: 500;
    font-style: normal;
}


.cap::after{
    content: "";
    position: absolute;
    width: 100%;
    height: calc(var(--skew) * 2);
    background-color: var(--tube-color);
    background-image: linear-gradient(to left, rgb(0 0 0 / .30), transparent);
    border-radius: 50%;
    top: calc(var(--skew) * -1);
}

.base{
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    background-color: var(--tube-color);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.353), transparent 40%);
    position: relative;
    display: grid;
    justify-items: center;
    text-align: center;
    overflow: hidden;
}

.text{
    width: 100%;
    color: var(--fill-color);
    padding-top: calc(var(--skew) + var(--width) * .1);
    padding-bottom: calc(var(--width) * .1);
    display: grid;
    place-content: center;
    margin-top: calc(var(--skew) * -.5);
    border-bottom-left-radius: 50% var(--skew);
    border-bottom-right-radius: 50% var(--skew);
    line-height: 1;
    font-size: calc(var(--width) * .4);
    position: relative;
    font-weight: 600;
}

.fill{
    margin-top: calc(var(--skew) * -1);
    color: white;
    padding-top: 50%;
    position: relative;
    z-index: 1;
    --glas-gradient:
        linear-gradient(
            to right,
            rgb(0 0 0 / .25),
            transparent 10% 15%,
            rgb(255 255 255 / .5) 20%,
            transparent 50% 90%,
            rgb(0 0 0 / .125) 
        );
    background-image: var(--glas-gradient);
}

.fill::before{
    position: absolute;
    content: "";
    width: 100%;
    --fill-start: var(--skew);
    --fill-end: calc(var(--percent) * 1% + var(--skew));
    height: var(--fill-start);
    background-color: var(--fill-color);
    bottom: calc(var(--skew) * -1);
    border-bottom-left-radius: 50% var(--skew);
    border-bottom-right-radius: 50% var(--skew);
    background-image: 
        var(--glas-gradient),
        radial-gradient(
            ellipse 100% calc(var(--skew) * 2) at center calc(100% - var(--skew)), 
            rgb(255 255 255 /.125) calc(50% - 1px), 
            transparent 50%),
        linear-gradient(
            to right, 
            rgb(0 0 0 / .25), 
            transparent 50% 70%, 
            rgb(0 0 0 / .25));
  animation: fill-before 1s linear forwards
}

.fill::after{
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: calc(var(--skew) * 2);
    background-color: var(--fill-color);
    border-radius: 50%;
    --fill-start: calc(var(--skew) * -1);
    --fill-end: calc(var(--percent) * 1% - var(--skew));
    bottom: var(--fill-start);
    background-image: 
        var(--glas-gradient),
        linear-gradient(to left, rgb(0 0 0 / .25), transparent 50%);
  animation: fill-after 1s linear forwards
}

.current-element-text::before{
    content: "arr[i]";  
    position: relative;
    top: 4px;
}

.next-element-text::before{
    content: "arr[i + 1]"; 
    position: relative;
    top: 2px;
}

.current-element {
    --fill-color: orangered;
    bottom: 15px;
}

.next-element{
    --fill-color: orangered;
   bottom: 15px;
}

.thought-bubble {
    position: absolute;
    z-index: 5;
	background: rgb(255, 239, 224);
	border-radius: 35px;
    padding: 10px 30px 10px;
	font-size: 1.15em;
	text-align: center;
    width: auto;
    top: 25%;
    left: 55%;
    border: solid black;
}

.thought-bubble p{
    margin: 0px 0px 3px;
    font-weight: 700;
    pointer-events: none;
    text-transform: uppercase;
}

.thought-bubble div{
    margin: 0px 0px 7px;
    font-weight: 700;
    pointer-events: none;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
}

.greater{
    color: orangered;
    font-size: 20px;
    font-family: sans-serif;
}

.less{
    color: orangered;
    font-size: 20px;
    font-family: sans-serif;
}

.bubble-bottom-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid black;
    border-right: 12px solid transparent;
    border-top: 12px solid black;
    border-bottom: 20px solid transparent;
    left: 14px;
    bottom: -21px;
    z-index: -1;
  }

.bubble-bottom-left:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid rgb(255, 239, 224);
    border-right: 12px solid transparent;
    border-top: 12px solid rgb(255, 239, 224);
    border-bottom: 20px solid transparent;
    left: 17px;
    bottom: -14px;
    z-index: -1;
  }

.move-the-bubble{
    top: 33%;
}

.swap{
    display: none;
}

.stay{
    display: none;
}

.finished{
    display: none;
}

#finished2{
    font-size: 2.5em;
    left: 1%;
    font-family: 'Playfair Display', serif;
}

@keyframes fill-before{ to { height: var(--fill-end)}}
@keyframes fill-after { to { bottom: var(--fill-end)}}


/****************Insertion Tubes******************/

.unSorted-text::before{
    content: "Unsorted";  
    position: relative;
    top: 4px;
}

.sorted{
    --fill-color: orangered;
}

.sorted-text::before{
    content: "Sorted";  
    position: relative;
    top: 4px;
}



.current{
    --fill-color: blue;
    top: 8%;
}
    
.current-text::before{
    content: "Current";  
    position: relative;
}


/****************************Footer****************************/

.footer{
    display: flex;
    font-size: 20px;
    color: ghostwhite;
    background-color: #00000094;
    align-items: center;
    padding: 0 2%;
    margin-top: 5%;
}

.footer h3{
    pointer-events: none;
}

#footer.light-mode{
    background-color: #000;
}

.my-description{
    width: 40%;
    margin: 0;
    margin-left: 2%;
    pointer-events: none;
}

.profile-pic{
    border-radius: 50%;
}

.footer h3{
    text-align: center;
    color: #fff8ba;
    
    margin-bottom: 0;
}

.footer p{
    margin-right: 10px;
    pointer-events: none;
}

.sitemap-link{
    color: #fff8ba;
    cursor: pointer !important;
    text-decoration: none;
    text-align: center;
}

.copyright{
    font-family: 'Barlow';
}

.footer-link-container{
    height: 100%;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    width: 20%;
    text-align: left;
    margin-left: auto;
}

.footer-link-inner{
    display: flex;
    justify-content: space-between;
    margin: 3% 0;
}

.footer-links{
    display: flex;
    flex-direction: column;
}

.footer-links span{
    margin: .2em;
    cursor: pointer;
}

.middle-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-around;
    border-left: #fff8ba27 1px solid;
    border-right: #fff8ba27 1px solid;
    padding: 0 4%;
}


.copyright-container{
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-top: auto;
    flex-grow: 1;
}

.socials{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10%;
}

