:root {
    /* Your default theme */
    --background: white;
    --foreground: black;
}

[data-theme='dark'] .layout{
    background-color: #202124;
}

[data-theme='dark'] .card-content{
    background-color: #303134;
    color: #fff8ba;
}

[data-theme='dark'] .content-description{
    color: ghostwhite;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

[data-theme='dark'] ul{
    font-weight: 400;
}

[data-theme='dark'] .array-index{
    color: #a67fee;
}

[data-theme='dark'] .adjacent-element{
    color: #04c804;
}

[data-theme='dark'] .sorted-array{
    color: #04c804;
}

[data-theme='dark'] .unsorted-array {
    color: #f37f54;
}

[data-theme='dark'] .current-explanation{
    color: #9b9bf9;
}

[data-theme='dark'] .j-element {
    color: #f55;
}

[data-theme='dark'] .thought-bubble {
    background-color: #303134;
    color: ghostwhite;
}

[data-theme='dark'] .thought-bubble.selection-bubble {
    background-color: #303134;
    color: ghostwhite;
}

[data-theme='dark'] .bubble-bottom-left:after {
    border-left: 24px solid #303134;
    border-top: 12px solid #303134;
}

[data-theme='dark'] .tube{
    --fill-color: blue;
}

[data-theme='dark'] .sorted{
    --fill-color: #f06c07;
}

[data-theme='dark'] .current{
    --fill-color: green;
    top: 8%;
}

[data-theme='dark'] .current-element {
    --fill-color: orangered;
    bottom: 15px;
}

[data-theme='dark'] .next-element{
    --fill-color: orangered;
   bottom: 15px;
}

[data-theme='dark'] .complexity-container{
    font-weight: 400;
}

[data-theme='dark'] .explanation-heading{
    font-weight: 500;
    margin-bottom: 2%;
}

[data-theme='dark'] .insertion-explanation-heading{
    font-weight: 500;
}

[data-theme='dark'] .min-tube{
    --fill-color: green;
}

[data-theme='dark'] .thought-bubble.selection-bubble p{
    text-transform: none;
    margin: 10px 0 10px;
    font-size: 1.1em;
    font-weight: 400;
}

[data-theme='dark'] .thought-bubble.selection-bubble div{
    font-weight: 400;
}

[data-theme='dark'] .pivot-value-tube{
    --fill-color: red;
}

[data-theme='dark'] .pivot-index-tube{
    --fill-color: purple;
}

[data-theme='dark'] .thought-bubble.quick-bubble p{
    text-transform: none;
    margin: 10px 0 10px;
    font-size: 1.1em;
    font-weight: 400;
}

[data-theme='dark'] .thought-bubble.quick-bubble div{
    font-weight: 400;
    font-size: 16px;
}

[data-theme='dark'] .thought-bubble.quick-bubble{
	background-color: #303134;
    color: ghostwhite;
}

[data-theme='dark'] .quick-current{
    --fill-color: green;
}

[data-theme='dark'] .index-element{
    bottom: 5%;
    --fill-color: #f06c07;
}

[data-theme='dark'] .thought-bubble.quick-bubble p{
    text-transform: none;
    margin: 10px 0 5px;
    font-size: .9em;
    font-weight: 600;
}

[data-theme='dark'] .thought-bubble.quick-bubble div{
    text-transform: none;
    margin: 5px 0 3px;
    font-weight: 600;
    font-size: .8em;
}

[data-theme='dark'] .checked-variable{
    color: dodgerblue;
}

[data-theme='dark'] .like-it{
    
    font-size: 15px;
    color: white;
    align-items: center;
    justify-content: center;
}

body{
    font-family: 'Barlow', sans-serif;
    margin: 0;
    height: 100%;
}

h1,h2,h3 {
    margin: 0;
    margin-top: 5px;
}

h4{
    margin: 0;
    margin-bottom: 10px;
}

ul{
    font-weight: 500;
}

p{
    font-family: 'Playfair Display', sans-serif;
    margin: 0;
}

.background{
    z-index: 0;
    opacity: 40%;
}


.selected{
    display: none;
}

.page-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.page-container.dark{
    background-color: #222222;
}

/*******************Layout******************/

.content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    z-index: 0;    
}

/*******************Navbar******************/

.turn-off{
    pointer-events: none;
}

.nav-bar{
    background-color: #1d1d1d !important;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0) inset, 0 0 0 0 black !important;
    position: relative !important;
}

.in-nav-container{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    font-size: large;
}

.in-nav-container span{
    cursor: pointer;
    margin: auto .5em;
    font-size: 20px;
}

.in-nav-container span:active{
    position: relative;
    text-shadow: 2px 2px 3px #ffffff5e;
    top: 1px;
}

.home-link{
    margin-right: 0px !important;
}

.about-me-div{
    background-color: #1d1d1d;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0) inset, 0 0 0 0 black;
    color: white;
    font-size: 1.3em;
    height: fit-content;
    width: max-content;
    top: 8px;
    left: 970px;
    padding: 0em 1.5em 1em;
}

.hamburger.about-me-div{
    padding: 0em 1em 1em;
}

.about-me-div a{
    display: flex;
    text-decoration: none;
    line-height: 1em;
    margin-top: 1em;
    color: ghostwhite;
}

.menu-background{
    background-color: #f06c07;
}

.map-box{
    margin: auto;
}

#menu-appbar{
    padding: 0;
}

#other-menu-appbar{
    padding: 0;
}

.contacts-title{
    margin: auto;
    color: #f06c07;
    font-size: 1.5em;
}

.contacts{
    margin-left: 1em;
    margin-right: auto;
    margin-top: auto;
    font-size: 1.2em;
}

.email-contact{
    margin-bottom: 10px;
}

.responsive-link{
    margin-left: 1em;
}

.responsive-container:active{
    position: relative;
    text-shadow: 2px 2px 3px #ffffff5e;
    top: 1px;
}

.about-me-p{
    font-size: 20px;
    color: #f06c07;
    padding-bottom: 1px;
    margin-left: .3em;
}

.nav-copyright-container{
    text-align: center;
    font-size: .7em;   
}

.inner-copyright-container{
    display: flex;
    justify-content: space-evenly;
    border-top: #fff8ba27 1px solid;
    padding-top: 1em;
}


/*******************Header********************/

.header{
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

.header-container{
    display: flex;
    flex-direction: column;
    background-color: #0f0f0f;
    padding-top: 2%;
}


.wave{
    fill: #0f0f0f;
}

.header-container h1{
    color: ghostwhite;
    text-transform: uppercase;
    font-size: 50px;
    margin: 0;
    line-height: 45px;
    letter-spacing: 5px;
    position: relative;
    text-shadow: 2px 2px #585858, 2px 2px #585858, 3px 3px #585858, 4px 4px #585858;
    font-family: 'Fjalla One', sans-serif;
}

.header-title-1{ 
    margin-left: 22% !important;
}

.header-title-2{ 
    margin-left: 41% !important;
}

.header-title-3{
    margin-left: 59% !important;
    width: fit-content;
}


/*******************Home**********************/
.home-switch{
    display: flex;
    justify-content: center;
    transform: scale(1.25);
}

.home-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

.card{
    display: flex;
    margin: 2em;
    max-width: 40%;
    background-color: #0f0f0f !important;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19) !important;
    border-radius: 7% !important;
    transition: all .2s ease-in-out !important;
}

.card:hover{
    position: relative;
    transform: scale(1.06);
}

.card-action-area{
    display: flex !important;
    flex-direction: column;
}

.card-pic{
    width: fit-content !important;
    margin: 3% auto !important;
}

.content-header{
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.8em;
    font-weight: 500;
    color: inherit;
    margin: 0 auto .5em;
    text-decoration: underline;
}

.card-content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: rgb(245, 242, 239);
    color: #000;
    padding: 5px 10px 15px 10px;
    height: 100%;
}

.content-description{
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    margin-bottom: 15px;
    text-align: left;
    color: #000;
    font-weight: 500;
}

.complexity-container{
    margin-top: auto;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.6em;
    line-height: 1.5em;
    color: inherit;
    text-align: left;
    font-weight: 500;
}


/*******************Top Container**********************/

.top-container{
    display: flex;
    margin: 0 .1em;
    justify-content: space-evenly;
}


/*******************Explanation**********************/

.referral{
    text-decoration: none;
    pointer-events: all;
}

.explanation-heading{
    font-weight: 700;
    margin: 2% auto;
    pointer-events: none;
    letter-spacing: .5px;
}

.insertion-explanation-heading{
    font-weight: 600;
    font-size: 19px;
    margin: 1% 2% 2% 0;
    pointer-events: none;
}

.selection-explanation-heading{
    margin: 3% 2% 2% 0;
    pointer-events: none;
}

.quick-explanation-heading{
    margin: 0 3em;
    font-size: 20px;
}

.explanation {
	font-size: 1.25em;
    width: 60%;
}

.explanation-list{
    list-style: none;
    margin: auto;
    padding-inline-start: 0px;
    pointer-events: none;
    width: fit-content;
    margin: auto;
  }

.explanation-list li{
    margin: .35rem auto;
    /* margin-left: 0; */
    font-size: 1.1em;
}

.explanation-list li::before{
    position: relative;
    top: 1px;
    content: "";
    background: radial-gradient( 80% 75% at 67% 43%, #abaed1, #1210ed 90% );
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: inline-block;
    color: white;
    margin-right: 0.5rem;
}
  
.insertion-explanation-list{
    list-style: none;
    padding-inline-start: 0px;
    pointer-events: none;
    margin: 0;
}

.insertion-explanation-list li{
    margin: .35rem;
    margin-left: 0;
    font-size: 1em;
    letter-spacing: .01rem;
    line-height: 1.3em;
}

.insertion-explanation-list li::before{
    position: relative;
    top: 1px;
    content: "";
    background: radial-gradient( 80% 75% at 67% 43%, #abaed1, #1210ed 90% );
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: inline-block;
    color: white;
    margin-right: 0.5rem;
}

.checked-variable{
    color: blue;
}

.array-index{
    color: #57309d;
}

.adjacent-element{
    color: green;
}

.sorted-array{
    color: green;
}

.unsorted-array{
    color: #bc4013;
}

.current-explanation{
    color: blue;
}

.j-element{
    color: #b30202;
}


/*********************Method********************/

/*     --background: white;
    --foreground: black;
    color-scheme: light;
    font-size: 1.3em !important;
    padding: .5em 1em !important;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    overflow-wrap: normal;
    color: rgb(238, 238, 238);
    background: rgb(47, 47, 47);
    font-family: "Roboto Mono", monospace;
    line-height: 1.5em;
    tab-size: 4;
    hyphens: none;
    overflow: auto;
    position: relative;
    margin: 0.5em 0px;
     */

.method{    
    margin-top: auto;
    margin-bottom: auto;
}

pre{
    width: fit-content;
    font-family: monospace !important;
    font-size: 1em !important;
    padding: .5em 1em !important;
    background-color: rgb(47, 47, 47);
}

pre span{
    color: rgb(255, 255, 255);
}

.keyword{
    color: #ffeb3b;
}

.boolean{
    color: #c780f7;
}

.punctuation{
    color: #fb842a;
}

.parameter{
    color: #c780f7;
}


/*******************Bottom Container**********************/

.bottom-container{
    display: flex;
    flex-grow: 1;
    margin-top: 1%;
}


/*******************Side-Display**********************/

.side-display{
	display: flex;
    background: radial-gradient( 68% 75% at 51% 43%, #343232, #000 90% );
    border-radius: 20%;
    margin-left: 5em;
    margin-bottom: auto;
    margin-top: 10px;
    padding: 1%;
    padding-left: .6%;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

.var-container{
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 22px;
    justify-content: space-between;
    pointer-events: none;
}

.quick-var-container{
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 22px;
    justify-content: center;
    pointer-events: none;
}

.insertion-span{
    margin-bottom: .7em;
}

.array-container{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.array-container.insertion{
    height: auto;
}


.array-span{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: .33em;
    letter-spacing: .25em;
    color: #f06c07;
}

.checked-container{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 5px;
}

.checked-container.insertion{
    flex-grow: 0;
}


/*******************Button Box**********************/

.button-box{
	display: flex;
    flex-direction: column;
	color: white;
    border-right-style: groove;
    border-right-color: #919ca10d;
    padding: 10px 0px;
}

.action-buttons{
    display: flex;
    padding: .1em .35em .5em .5em;
    justify-content: space-evenly;
    gap: 6px;
}

.button{
    box-sizing: border-box;
    appearance: none;
    background-color: #6e5b5b3d;
    border: none;
    border-radius: 30%;
    color: white;
    cursor: pointer;
    display: flex;
    align-self: center;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    transition: background-color 500ms;
    font-size: 15px;
    font-family: 'Barlow', sans-serif;
}

.button:hover {  
    background-color: #f06c07;
}

.button:active {  
    background-color: #6e5b5b3d;
}

.refresh-button{
    padding: .7em .8em;
}

.sort-button{
    padding: .9em .4em;
}

/* .css-1p823my-MuiListItem-root{
    padding: 0 5px 0 5px;
    margin: 9px 0 9px 0;
} */

.button:disabled {
    color: #555;
    pointer-events: none;
  }

/*******************SLIDER******************/

.slider-container{
    display: flex;
    padding-top: 1em;
}

.slider{
    color: white;
}

.slider-label{
    font-size: 18px;
    display: flex;
    color: white;
    text-align: center;
    flex-direction: column;
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: 15px;
    margin-left: auto;
    margin-right: auto;
    pointer-events: none;
}

.css-fk6q5t-MuiSlider-root{
    color: white;
}

.MuiSlider-thumb{
    border: #fff solid !important;
    color: #f06c07 !important;
}

.MuiSlider-track{
    width: 10px !important;
    color: white !important;
}

.MuiSlider-rail{
    color: transparent !important;
    width: 10px !important;
}

/* .css-eg0mwd-MuiSlider-thumb{
    background-color: white;
} */

.MuiSlider-markLabel{
    color: white !important;
    left: 50px !important;
    font-size: 1rem !important;
}

.MuiSlider-markLabelActive{
    color: #f06c07 !important;
    left: 50px !important;
    font-size: 1rem !important;
}

.MuiSlider-mark{
    color: transparent !important;
    width: 6px !important;
    height: 6px !important;
    border: #f06c07 solid 1px !important;
    border-radius: 50% !important;
}

.MuiSlider-markActive{
    color: transparent !important;
    border: white solid 1px !important;
}

/* ********************Switch******************* */

/* .switch-container{
    display: flex;
    margin: auto;
    flex-grow: 1;
    justify-content: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 3em;
    height: 1.2em;
    top: .3em;
    margin: 0 5px;
} */
  
  /* Hide default HTML checkbox */
/* .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.switcher {
    height: inherit;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
  
.switcher:before {
    position: absolute;
    content: "";
    height: 1em;
    width: 1em;
    left: 3px;
    top: 2px;
    background-color: rgb(30, 28, 28);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
  
input:checked + .switcher {
    background-color: #2196F3;
}
  
input:focus + .switcher {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .switcher:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
 */

/*********************Tubes********************/

.row{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    height: 18em;
    gap:2em;
    margin-top: 1.5%;
}

.row.move-row{
    margin-top: .5%;
}

/* .tubes { 
    margin-inline: auto; 
    display: flex; 
    flex-wrap: wrap; 
    gap: 5em; 
    justify-content: center;
} */

.tube {
    --width: calc(8vw + 0.6rem); 
    --skew: calc(.5vw + 0.05rem);
    --tube-color: #fff;
    --fill-color: black; 
    width: var(--width);
    aspect-ratio: 1/4.5;
    margin-top: var(--skew);
    border-top-left-radius: 50% var(--skew);
    border-top-right-radius: 50% var(--skew);
    border-bottom-left-radius: 50% var(--skew);
    border-bottom-right-radius: 50% var(--skew);
    display: grid;
    grid-template-rows: max-content auto max-content;
    position: relative;
    pointer-events: none;
}

.tube::before{
    --blur: 6px;
    content: '';
    position: absolute;
    width: calc(70% + var(--width) * 1);
    z-index: -1;
    right: 55px;
    bottom: 3px;
    height: calc(var(--skew) * 8);
    background: #00000068;
    border-radius: 0% 100%;
    filter: blur(var(--blur));
}

.cap-text{
    width: 100%;
    color: var(--fill-color);
    background-color: rgb(0 0 0 / .1);
    padding-top: calc(var(--skew) + var(--width) * .05);
    padding-bottom: calc(var(--width) * .1);
    display: grid;
    place-content: center;
    margin-top: calc(var(--skew) * -.5);
    border-bottom-left-radius: 50% var(--skew);
    border-bottom-right-radius: 50% var(--skew);
    --mask-image: radial-gradient( ellipse 100% calc(var(--skew) * 2) at center top, transparent calc(50% - 1px), black calc(50% + 1px));
    -webkit-mask-image: var(--mask-image);
    mask-image: var(--mask-image);
    font-size: x-large;
    font-style: normal;
}

.cap{
    --cap-height: calc(var(--width) * .4);
    height: calc(var(--cap-height) + var(--skew));
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    background-color: var(--tube-color);
    background-image: linear-gradient(to right, rgb(0 0 0 / .25), transparent 50%);
    position: relative;
    z-index: 2;
    color: var(--fill-color);
    display: grid;
    place-content: center;
    font-family: 'Fira Sans', serif;
    font-size: x-large;
    font-weight: 500;
    font-style: normal;
}

.cap::after{
    content: "";
    position: absolute;
    width: 100%;
    height: calc(var(--skew) * 2);
    background-color: var(--tube-color);
    background-image: linear-gradient(to left, rgb(0 0 0 / .30), transparent);
    border-radius: 50%;
    top: calc(var(--skew) * -1);
}

.base{
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    background-color: var(--tube-color);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.353), transparent 40%);
    position: relative;
    display: grid;
    justify-items: center;
    text-align: center;
    overflow: hidden;
}

.text{
    width: 100%;
    color: var(--fill-color);
    padding-top: calc(var(--skew) + var(--width) * .1);
    padding-bottom: calc(var(--width) * .1);
    display: grid;
    place-content: center;
    margin-top: calc(var(--skew) * -.5);
    border-bottom-left-radius: 50% var(--skew);
    border-bottom-right-radius: 50% var(--skew);
    line-height: 1;
    font-size: calc(var(--width) * .4);
    position: relative;
    font-weight: 600;
}

.fill{
    margin-top: calc(var(--skew) * -1);
    color: white;
    padding-top: 50%;
    position: relative;
    z-index: 1;
    --glas-gradient:
        linear-gradient(
            to right,
            rgb(0 0 0 / .25),
            transparent 10% 15%,
            rgb(255 255 255 / .5) 20%,
            transparent 50% 90%,
            rgb(0 0 0 / .125) 
        );
    background-image: var(--glas-gradient);
}

.fill::before{
    position: absolute;
    content: "";
    width: 100%;
    --fill-start: var(--skew);
    --fill-end: calc(var(--percent) * 1% + var(--skew));
    height: var(--fill-start);
    background-color: var(--fill-color);
    bottom: calc(var(--skew) * -1);
    border-bottom-left-radius: 50% var(--skew);
    border-bottom-right-radius: 50% var(--skew);
    background-image: 
        var(--glas-gradient),
        radial-gradient(
            ellipse 100% calc(var(--skew) * 2) at center calc(100% - var(--skew)), 
            rgb(255 255 255 /.125) calc(50% - 1px), 
            transparent 50%),
        linear-gradient(
            to right, 
            rgb(0 0 0 / .25), 
            transparent 50% 70%, 
            rgb(0 0 0 / .25));
    animation: fill-before .66s linear forwards;
}

.fill::after{
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: calc(var(--skew) * 2);
    background-color: var(--fill-color);
    border-radius: 50%;
    --fill-start: calc(var(--skew) * -1);
    --fill-end: calc(var(--percent) * 1% - var(--skew));
    bottom: var(--fill-start);
    background-image: 
        var(--glas-gradient),
        linear-gradient(to left, rgb(0 0 0 / .25), transparent 50%);
    animation: fill-after .66s linear forwards
}

.current-element-text::before{
    content: "arr[i]";  
    position: relative;
    top: 4px;
}

.next-element-text::before{
    content: "arr[i + 1]"; 
    position: relative;
    top: 2px;
}

.current-element {
    --fill-color: orangered;
    bottom: 15px;
}

.next-element{
    --fill-color: orangered;
   bottom: 15px;
}

.thought-bubble {
    position: absolute;
    z-index: 5;
	background: rgb(255, 239, 224);
	border-radius: 35px;
    padding: 10px 30px 10px;
	font-size: 1.15em;
	text-align: center;
    width: auto;
    top: 25%;
    left: 55%;
    border: 3px solid black;
}

.thought-bubble p{
    margin: 0px 0px 3px;
    font-weight: 700;
    pointer-events: none;
    text-transform: uppercase;
    font-family: 'Barlow', serif;
}

.thought-bubble div{
    margin: 0px 0px 7px;
    font-weight: 700;
    pointer-events: none;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
}

.greater{
    color: #f06c07;
    font-size: 20px;
    font-family: sans-serif;
}

.less{
    color: #f06c07;
    font-size: 20px;
    font-family: sans-serif;
}

.bubble-bottom-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid black;
    border-right: 12px solid transparent;
    border-top: 12px solid black;
    border-bottom: 20px solid transparent;
    left: 14px;
    bottom: -21px;
    z-index: -1;
}

.bubble-bottom-left:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid rgb(255, 239, 224);
    border-right: 12px solid transparent;
    border-top: 12px solid rgb(255, 239, 224);
    border-bottom: 20px solid transparent;
    left: 17px;
    bottom: -14px;
    z-index: -1;
}

.move-the-bubble{
    top: 33%;
}

.swap{
    display: none;
}

.stay{
    display: none;
}

.finished{
    display: none;
}

#finished2{
    font-size: 2.5em;
    left: 1%;
    font-family: 'Playfair Display', serif;
}

@keyframes fill-before{ to { height: var(--fill-end)}}
@keyframes fill-after { to { bottom: var(--fill-end)}}


/****************Insertion Tubes******************/

.unSorted-text::before{
    content: "Unsorted";  
    position: relative;
    top: 4px;
    font-weight: 600;
}

.sorted{
    --fill-color: #f06c07;
}

.sorted-text::before{
    content: "Sorted";  
    position: relative;
    top: 4px;
    font-weight: 600;
}

.current{
    --fill-color: blue;
    top: 8%;
}
    
.current-text::before{
    content: "Current";  
    position: relative;
}


/****************Selection Tubes******************/

.selection.row{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    height: 20em;
    gap:1.1em;
    margin-top: 1.5%;
}

.min::before{
    content: "min";  
    position: relative;
    top: 4px;
}

.min-tube{
    --fill-color: green;
}

.selection-stay{
    display: none;
}

/* .selection-swap{
    display: none;
} */

.thought-bubble.selection-bubble{
    position: absolute;
    z-index: 5;
	background: rgb(255, 239, 224);
	border-radius: 35px;
    padding: 10px 10px 10px;
	text-align: center;
    width: 100%;
    top: 20%;
    left: -12%;
    border: solid black;
}

.thought-bubble.selection-bubble p{
    text-transform: none;
    margin: 10px 0 10px;
    font-size: 1.1em;
    font-weight: 600;
}

.thought-bubble.selection-bubble div{
    text-transform: none;
    margin: 5px 0 3px;
    font-weight: 600;
}

.move-to-front{
    display: none;
}

.i-is-min{
    display: none;
}

.selection-div{
    font-size: 1em;
    width: 6em;
}


/****************Quick Sort Tubes******************/

.quick.row.move-row{
    margin-top: 2.5%;
    height: 19em;
}

.pivot-value::before{
    content: "pivot-value";  
    position: relative;
    top: 4px;
    font-size: .75em;
}

.pivot-index::before{
    content: "pivot-index";  
    position: relative;
    top: 4px;
    font-size: .75em;
}

.pivot-value-tube{
    --fill-color: red;
}

.pivot-index-tube{
    --fill-color: blue;
}

.quick-current{
    --fill-color: green;
}

.quick-stay{
    display: none;
}

/* .quick-swap{
    display: none;
} */

.quick-swap-pivot{
    display: none;
} 

.start-greater-end{
    display: none;
}

.index-element{
    bottom: 5%;
    --fill-color: #f06c07;
}

.index-element-text::before{
    content: "index";  
    position: relative;
    top: 4px;
    font-weight: 600;
}


.thought-bubble.quick-bubble{
    position: absolute;
    z-index: 5;
	background: rgb(255, 239, 224);
	border-radius: 35px;
    padding: 0px 15px;
	text-align: center;
    width: 8em;
    top: 18%;
    left: -15%;
    border: 3px solid black;
}


.thought-bubble.quick-bubble p{
    text-transform: none;
    margin: 10px 0 5px;
    font-size: 1em;
    font-weight: 600;
}

.thought-bubble.quick-bubble div{
    text-transform: none;
    margin: 5px 0 3px;
    font-weight: 600;
    font-size: .85em;
}

.stay-p {
    margin-bottom: 1em !important;
}

/****************************Feedback****************************/

.like-it{
    margin-top: 3.5em;
    margin-bottom: .5em;
    display: flex;
    font-size: 15px;
    color: black;
    align-items: center;
    justify-content: center;
}

.helpful{
    margin-right: .5em;
    font-weight: 600;
    font-family: 'Barlow';
    font-size: 19px;
}

.feedback{
    border: solid #f06c07;
    border-radius: 50%;
    background-color: #f06c07;
    padding: .5em;
}

.score{
    font-size: 21px;
    margin: 0 .5em;
}

/****************************Footer****************************/

.footer{
    display: flex;
    font-size: 20px;
    color: ghostwhite;
    background-color: #0f0f0f;
    align-items: center;
    margin-top: 2%;
    padding: 1em .5% 1em 2%;
}

.hi{
    font-size: 20px;
    font-weight: 600;
    margin-top: .5em;
    margin-bottom: .1em;
}

.my-description{
    width: 45%;
    margin: 0;
    margin-left: 2%;
    pointer-events: none;
    font-size: 1em;
}

.navigate-footer{
    pointer-events: none;
    text-align: center;
    color: #fff8ba;    
    margin: .3em 0;
}

.footer p{
    margin-right: 10px;
    pointer-events: none;
}

.copyright{
    font-family: 'Barlow';
}

.footer-link-container{
    /* height: 80%; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1em;
    /* width: 20%; */
    text-align: left;
    /* margin: auto; */
    position: relative;
    /* bottom: 6px; */
    padding: 0 2em;
    border-left: #fff8ba27 1px solid;
    border-right: #fff8ba27 1px solid;
}

.footer-link-inner{
    display: flex;
    justify-content: space-between;
}

.footer-links{
    display: flex;
    flex-direction: column;
}

.footer-links span{
    margin: 5px 10px;
    cursor: pointer;
}

.middle-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-around;
    /* border-left: #fff8ba27 1px solid;
    border-right: #fff8ba27 1px solid; */
    padding: 0;
}

.socials{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10%;
}

.sitemap-link{
    color: #fff8ba !important;
    cursor: pointer !important;
    text-decoration: none;
    text-align: center;
}


.copyright-container{
    display: flex;
    align-items: center;
    font-size: .9em;
    margin-top: auto;
    flex-grow: 1;
    width: max-content;
}

/**********************Media Queries*********************/

/******XXX-Large devices (larger desktops, 1400px and up)******/
@media (min-width: 1400px) {
    /*----------HOME----------*/
    .content-header{
        font-size: 2em;
    }

    .content-description{
        font-size: 1.7em;
    }

    .complexity-container{
        font-size: 1.7em;
    }

    .header-container h1{
        font-size: 60px;
    }

    /*---------BOTTOM CONTAINER--------*/
    .bottom-container{
        margin-top: 2%;
    }

    #finished2{
        left: 0%;
    }

    .thought-bubble {
        left: 63%;
    }
    
}

/******XX-Large devices (large desktops, 1399px and below)******/
@media (max-width: 1399px) {
    /*---------TOP CONTAINER--------*/
    .explanation {
        font-size: 1.05em;
    }

    pre{
        font-size: 1em !important;
    }

    /*-------BOTTOM CONTAINER-------*/
    .side-display{
        margin-left: 3em;
    }
    #finished2{
        left: -15%;
    }

    .thought-bubble {
        left: 57%;
    }

    /*----------FOOTER----------*/
    .my-description{
        width: 40%;
    }

    .footer-link-container{
        padding: 0 1em;
    }

}

/******XX-Large devices (large desktops, 1200px and below)******/
@media (max-width: 1200px) {
    /*----------NAVBAR----------*/
    .in-nav-container span{
        font-size: 19px;
        margin: auto 0.4em;
    }

    .about-me-p{
        font-size: 18px;
    }

    .nav-switch{
        transform: scale(.9);
        padding-left: .9em;
    }

     /*----------TOP CONTAINER----------*/
    pre {
        font-size: .8em !important;
    }

    .explanation {
        font-size: 1em;
    }

    /*---------BOTTOM CONTAINER--------*/
    .bottom-container{
        padding: 0;
        margin-top: 3%;
    }

    .side-display{
        margin-left: 1.5em;
        padding-left: 1em;
    }

    .row{
        gap: 1.5em;
    }

    .cap{
        font-size: larger;
    }

    .thought-bubble {
        left: 48%;
    }

    #finished2{
        left: -30%;
    }

    .like-it{
        margin-top: 3em;
    }

    /*----------FOOTER----------*/
    .footer{
        padding-top: 0;
    }

    .my-description{
        width: 45%;
    }

    .footer-link-container{
        font-size: .9em;
        padding: 0;
        margin-top: 1em;
        margin-left: 5px;
        width: 20%;
    }

    .footer-link-inner {
        flex-direction: column;
        margin: auto;
    }

    .middle-container{
        margin-top: 0;
        margin-bottom: 0;
    }
}

/******X-Large devices ( 1079px and below)******/
@media (max-width: 1079px) {
    /*----------TOP CONTAINER----------*/
    .top-container{
        flex-direction: column;
    }

    .explanation{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.35em;
    }

    .method{
        margin: 2% auto;
    }

    pre{
        font-size: 1.1em !important;
    }

    .row{
        gap: 1.2em;
    }

    .side-display{
        margin-left: 1em;
    }

    ----------FOOTER----------
    .my-description{
        margin-right: 5px;
    }

    .middle-container{
        margin-left: 1%;
    }
}

/******X-Large devices (desktops, 992px and below)******/
@media (max-width: 992px) {
    /*---------NAVBAR---------*/
    .contacts{
        font-size: 1.1em;
    }

    /*----------HOME----------*/
    .header-container{
        padding-right: 12%;
    }

    .header-title-2{
        margin-top: 2% !important;
        margin-bottom: 2% !important;
    }

    .card{
        max-width: 45%;
        margin: 1em;
    }

    .complexity-container{
        line-height: 1.3em;
    }

    .content-description {
        font-size: 1.75em;
    }

     /*---------NAVBAR----------*/
     .in-nav-container span{
        font-size: 16px;
    }

    /*----------TOP CONTAINER----------*/
    .explanation{
        width: 95%;
        font-size: 1.25em;
    }

    pre{
        font-size: 1em !important;
    }

    /*--------BOTTOM CONTAINER---------*/
    .bottom-container{
        margin-top: 0;
        justify-content: space-evenly;
    }

    .side-display{
        margin: auto;
        transform: scale(.7);
    }

    .row{
        height: 17em;
        padding-right: 2em;
        /* transform: scale(.8); */
    }

    .tube{
        width: 90%;
    }

    /*----------TUBES----------*/
    .thought-bubble {
        left: 35%;
    }

    #finished2{
        left: -60%;
    }

    /*----------FOOTER----------*/
    .footer{
        margin-top: 1%;
        flex-wrap: wrap;
        padding-top: 2%;
        justify-content: center;
        padding: 2% 0% 1em 2%;
    }

    .footer span{
        overflow: visible !important;
    }

    .ava{
        margin-left: 15% !important;
    }

    .my-description{
        width: 80%;
        margin: 0 0 0 7%;
        font-size: .85em;
        padding-bottom: 2%;
    }

    .middle-container{
        width: 40%;
        border-left: none;
        border-right: none;
        margin-top: auto;
        margin-left: auto;
    }

    .socials{
        margin-bottom: 5%;
    }


    .copyright-container{
        margin: auto;
       font-size: .9em;
    }

    .footer-link-container{
        width: 50%;
        bottom: 0px;
        padding: 0;
        margin: 0;
        font-size: 1em;
        border-left: none;
        border-right: none;
    }

    .footer-link-inner {
        margin: auto 10%;
        flex-direction: row;
    }

    .footer-links span {
        letter-spacing: 1.5px;
    } 
}

/******(900px and below)******/
@media (max-width: 900px) {
    /*----------NAVBAR----------*/
    .nav-switch{
        padding-left: 2em;
    }

    .about-me-p{
        font-size: .8em;
    }

    .row{
        gap: 1em;
    }

    .cap{
        font-size: 1.15em;
        padding: 5px 0;
    }
    
}

/******(840px and below)******/
@media (max-width: 840px) {
    /*-------TOP CONTAINER------*/
    .explanation{
        font-size: 1.15em;
    }

    /*----------TUBES----------*/
    .row{
        height: 15em;
        padding-right: 1.5em;
        gap: .7em;
    }

    .thought-bubble{
        left: 25%;
        font-size: 1em;
    }

    .greater{
        font-size: 1em;
    }

    .less{
        font-size: 1em;
    }

}

/******Medium Devices (landscape phones, 768px and below)******/
@media (max-width: 768px) {
    /*----------NAVBAR----------*/
    .about-me-div{
        font-size: 1.1em;
        padding: .5em 1em;
    }

    .contacts{
        font-size: 1em;
    }

    /*----------HOME----------*/
    .header-container{
        padding-left: 6%;
        padding-right: 0;
    }

    .header-title-1{
        margin-left: 6% !important;
    }

    .header-title-2{
        margin: 2% 0 2% 29% !important;
    }

    .header-title-3{
        margin-left: 50% !important;
    }

    .card{
        max-width: fit-content;
        margin: 2em;
    }

    .card:hover{
        position: relative;
        transform: scale(1.03);
    }
    
    .content-description{
        font-size: 1.8em;
    }

    .complexity-container{
        font-size: 1.8em;
        line-height: 1.4em;
    }

     /*----------TOP CONTAINER----------*/
     .explanation{
        font-size: 1.1em;
    }

    /*--------BOTTOM CONTAINER---------*/
    /*----------TUBES----------*/
    .bottom-container{
        flex-direction: column-reverse;
        margin-top: 0;
    }

    .side-display{
        width: 45%;
        margin: 4% auto 0;
        transform: none;
    }

    #sort-button{
        font-size: .8em;
    }

    .refresh-button {
        padding: 0.51em 0.65em;
    }

    .slider-label{
        font-size: 1em;
    }

    .MuiSlider-markLabel {
        font-size: .8em !important;
    }

    .MuiSlider-markLabelActive {
        font-size: .8em !important;
    }

    .var-container{
        font-size: 1.15em;
    }

    .row{
        transform: none;
        padding: 0 15px;
        gap: 1.5em;
    }

    .cap{
        font-size: 1.15em;
    }

    .tube{
        width: 100%;
    }

    .thought-bubble{
        left: 55%;
        font-size: 1em;
    }

    .greater{
        font-size: 1em;
    }

    .less{
        font-size: 1em;
    }

    /*----------TUBES----------*/
    #finished2{
        left: -60%;
    }

    /*----------FOOTER----------*/
    .middle-container{
        flex-grow: 1;
    }

    .socials{
        margin: 2% 0;
    }

    .footer-link-inner{
        margin: auto 5%;
    }

    .footer-links span{
        letter-spacing: normal;
    }
}

/******Small Devices (600px and below)******/
@media (max-width: 600px) {
    /*----------NAVBAR----------*/
    .nav-switch{
        transform: scale(.9);
        padding-left: 1em;
    }

    .about-me-p{
        font-size: .7em;
    }

    /*----------HOME----------*/
    .header-container h1{
        font-size: 35px;
        letter-spacing: 4px;
        line-height: 40px;
    }

    .card{
        margin: 1em;
    }

    .content-description{
        font-size: 1.5em;
    }

    .complexity-container{
        font-size: 1.6em;
    }

    /*----------TOP CONTAINER----------*/
    .explanation{
        font-size: 1em;
    }

    .explanation-heading{
        letter-spacing: normal;
    }
    
    pre{
        font-size: .9em !important;
    }
    
    /*--------BOTTOM CONTAINER---------*/
    .top-container{
        margin: 0;
    }

    .side-display{
        width: 60%;
    }

    .row{
        height: 14em;
        margin-top: 3.5%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .tube{
        width: 100%;
    }

    .cap{
        font-size: .9em;
        padding: 5px 0;
    }

    .thought-bubble{
        left: 32%;
    }

    .like-it{
        margin-top: 2em;
    }

    .helpful{
        font-size: 17px;
    }

    /*----------FOOTER----------*/
    .footer{
        padding: 1em 2%;
    }
    .my-description{
        width: 100%;
        margin: 0 auto 0 2%;
    }

    .middle-container{
        width: 100%;
        padding: 0 2% 0;
    }

    .socials a{
        margin: 2%;
    }

    .copyright-container{
        margin: 0 auto;
        margin-bottom: 2%;
        font-size: .9em;
    }

    .footer-link-container{
        width: 100%;
        font-size: .9em;
        margin: 0% 10%;
    }

    .ava{
        margin-left: 0% !important;
    }

    .socials{
        margin-bottom: 2%;
    }
}

@media (max-width: 490px) {
    /*----------NAVBAR----------*/
    .nav-switch{
        transform: scale(.8);
        padding-left: 0;
    }

    .about-me-p{
        margin-left: 0;
    }

    /*----------TOP CONTAINER----------*/
    pre{
        font-size: .7em !important;
    }
    
    /*--------BOTTOM CONTAINER---------*/
    .side-display{
        width: 70%;
    transform: scale(.8);
    margin-top: 1%;
    }

    .row{
        height: 12em;
        gap: 1em;
    }

    .thought-bubble{
        font-size: .75em;
        left: 40%;
        
        top: 20%;
        padding: 10px 25px;
    }

    #finished2{
        font-size: 2em;
        left: -55%;
        top: 55px;
    }
}

@media (max-width: 470px) {
    /*--------NAVBAR----------*/
    .about-me-p{
        font-size: .6em;
    }
}

@media (max-width: 460px) {
.row{
    gap: .5em;
}


}

@media (max-width: 420px) {
    /*----------NAVBAR----------*/
    .about-me-p{
        font-size: .5em;
    }

    /*----------HOME----------*/
    .header-container{
        padding-left: 4%;
    }

    .header-title-1{
        margin-left: 2% !important;
    }

    .header-title-2{
        margin: 2% 0 2% 27% !important;
    }

    .header-title-3{
        margin-left: 46% !important;
    }

    .thought-bubble{
        left: 28%;
    }
}

@media (max-width: 400px) {
    /*----------NAVBAR----------*/
    .about-me-p{
        display: none;
    }
}

/******Extra Small Devices (393px and below)******/
@media (max-width: 393px) {
    /*----------NAVBAR----------*/
    .nav-switch{
        transform: scale(.65);
        padding-left: 0;
    }

    /*----------HOME----------*/
    .header-container{
        padding-left: 1%;
    }

    .header-container h1{
        font-size: 30px;
        letter-spacing: 3px;
        line-height: 35px;
    }

    .header-title-1{
        margin-left: 10% !important;
    }

    .header-title-2{
        margin: 2% 0 2% 30% !important;
    }

    .header-title-3{
        margin-left: 47% !important;
    }

    .complexity-container{
        font-size: 1.4em;
    }

    /*----------TOP CONTAINER----------*/
    pre{
        font-size: .6em !important;
    }
    
    /*--------BOTTOM CONTAINER---------*/
    .side-display{
        width: 90%;
    }

    .row{
        height: 10em;
    }

    .thought-bubble{
        font-size: .9em;
        padding: 4px 20px;
    }

    .cap{
        font-size: .8em;
    }

    /*----------FOOTER----------*/
    .footer{
        padding-top: 2%;
    }

    .footer span{
        overflow: visible !important;
    }

    .footer img{
        margin: 5%;
        transform: scale(1);
    }

    .ava{
        margin-left: 15% !important;
    }

    .my-description{
        width: 95%;
        margin: 0 auto 0;
        font-size: .85em;
    }

    .middle-container{
        margin-top: 4%;
        padding: 5% 2% 0 2%;
    }

    .socials{
        margin: 0;
    }

    .copyright-container{
        margin: auto;
        margin-bottom: 2%;
        font-size: .8em;
    }

    .footer-link-container{
        margin: 0;
        margin-top: 4%;
    }

    .footer-link-inner {
        font-size: .9em;
    }

    .footer-links span {
        letter-spacing: 1.5px;
    }
}

@media (max-width: 385px) {
    .explanation-heading{
        letter-spacing: .5px;
    }
}

/******Extra Small Devices (359px and below)******/
@media (max-width: 359px) {
    .footer{
        padding-top: 4%;
    }

    .my-description{
        width: 100%;
    }

    .cap{
        font-size: .7em;
    }

    .thought-bubble{
        left: 0%;
    }

    #finished2{
        font-size: 1.5em;
        left: -60%;
    }
}

/******Extra Small Devices (300px and below)******/
@media (max-width: 300px) {
    /*----------HOME----------*/
    .header-title-1.tiny{
        margin-left: 0% !important;
    }

    .header-title-2.tiny{
        margin: 2% 0 2% 25% !important;
    }

    .header-title-3.tiny{
        margin-left: 42% !important;
    }

    .complexity-container {
        font-size: 1em;
    }

    .my-description {
        width: 100% !important;

    }

    /*----------TOP CONTAINER----------*/
    pre{
        font-size: .5em !important;
    }
    
    /*--------BOTTOM CONTAINER---------*/    
    .var-container{
        font-size: .85em;
        padding-top: 1em;
    }

    #finished2{
        font-size: 1em;
    }

    /*----------FOOTER----------*/
    .footer{
        justify-content: center;
        padding-top: 3%;
    }

    .ava{
        margin-left: 0% !important;
    }

    .footer-link-inner {
        flex-direction: column;
        margin: auto;
    }
}