
 :root {
   --background: white;
   --foreground: black;
 }

 [data-theme="dark"],
 [data-theme="dark"] body {
   background: #202124;
 }

 [data-theme="dark"] .footer {
   background: #0f0f0f;
 }

 [data-theme="dark"] .title-container {
   background: #0f0f0f;
 }

 [data-theme="dark"] .wave {
   fill: #0f0f0f;
 }

 [data-theme="dark"] .about-me-div {
   background: #1f1f1f;
 }

 [data-theme="dark"] .menu {
   background: #202124;
 }

 [data-theme="dark"] .menu-btn {
   background: radial-gradient(68% 75% at 51% 43%, #343232, #121212 99%);
 }

 [data-theme="dark"] .header-container {
   background-color: #0c0c0c;
 }

 [data-theme="dark"] .card {
   background-color: #0c0c0c !important;
 }

 [data-theme="dark"] .card-content {
   background-color: #292a2d;
 }

 [data-theme="dark"] .complexity-container {
   color: yellow;
 }

 [data-theme="dark"] .times {
   color: white;
 }

 [data-theme="dark"] .explanation-heading {
   font-weight: 400;
 }

 [data-theme="dark"] .array-index {
   color: #a67fee;
 }

 [data-theme="dark"] .adjacent-element {
   color: #04c804;
 }

 [data-theme="dark"] .sorted-array {
   color: #04c804;
 }

 [data-theme="dark"] .unsorted-array {
   color: #f37f54;
 }

 [data-theme="dark"] .current-explanation {
   color: #9b9bf9;
 }

 [data-theme="dark"] .checked-variable {
   color: dodgerblue;
 }

 [data-theme="dark"] .tube {
   --fill-color: blue;
 }

 [data-theme="dark"] .finished {
   --fill-color: #f06c07;
 }

 [data-theme="dark"] .sorted {
   --fill-color: #f06c07;
 }

 [data-theme="dark"] .current {
   --fill-color: green;
 }

 [data-theme="dark"] .pivot-value {
   --fill-color: rgb(131, 3, 151) !important;
 }

 [data-theme="dark"] .arri {
   background-color: green;
 }

 [data-theme="dark"] .selection.arri {
   background-color: blue;
 }

 [data-theme="dark"] .quick.arri {
   background-color: blue;
 }

 [data-theme="dark"] .compare-tube {
   --fill-color: rgb(131, 3, 151) !important;
 }

 [data-theme="dark"] .current-element {
   --fill-color: orangered;
 }

 [data-theme="dark"] .next-element {
   --fill-color: orangered;
 }

 [data-theme="dark"] .min-tube {
   --fill-color: green;
 }

 [data-theme="dark"] .footer {
   background-color: #0c0c0c;
 }

 [data-theme="dark"] .footer-wave.wave {
   fill: #0c0c0c;
 }

 body {
   font-family: "Source Serif 4", serif;
   font-weight: 400;
   font-style: normal;
   margin: 0;
   height: 100%;
 }

 h1,
 h2,
 h3 {
   margin: 0;
   margin-top: 5px;
 }

 h4 {
   margin: 0;
   margin-bottom: 10px;
 }

 p {
   margin: 0;
 }

 .background {
   z-index: 0;
   opacity: 40%;
 }

 .page-container {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
 }

 .page-container.dark {
   background-color: #222222;
 }

 .turn-off {
   pointer-events: none;
 }


 .blue {
   color: #6b6bf8;
 }

 .black {
   color: black
 }

 .bg-blue {
   /* border-radius: 10px;
   padding: 0px 5px;
   color: white;
   background-color: blue;
   display: inline-block;
   min-width: 24px;
   text-align: center; */
   color: #6b6bf8;
   font-weight: 700;
 }

 .purple {
   color: rgb(131, 3, 151);
 }

 .bg-purple {
   color: rgb(131, 3, 151);
   font-weight: 700;
 }

 .red {
   color: #ff4646;
 }

 .bg-red {
   color: red;
   font-weight: 700;
 }


 .green {
   color: #3eab3e;
 }

 .bg-green {
   color: green;
   font-weight: 700;
 }

 .orange {
   color: orange;
 }

 .bg-orange {
   color: orange;
   font-weight: 700;
 }

 .yellow {
   color: #fcff2d;
 }

 /*******************Layout******************/

 .content {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   z-index: 0;
 }

 /*******************Navbar******************/

 .nav {
   display: flex;
   color: white;
   background-color: #1d1d1d !important;
   box-shadow: 0px 0px 20px 0px rgb(0 0 0) inset, 0 0 0 0 black !important;
   position: relative !important;
   text-align: center;
   margin-bottom: 8px;
   padding: 0 20px;
   font-family: "open-sans", sans-serif;
   font-weight: 700;
   font-style: normal;
 }

 .nav-switch {
   display: flex;
   align-items: center;
   position: absolute;
   height: 100%;
 }


 .nav-title {
   font-size: 26px;
   margin: 8px auto;
   left: 10px;
   position: relative;
   font-family: "roboto-slab", serif;
   font-weight: 700;
   font-style: normal;
 }

 .nav-burger {
   display: flex;
   align-items: center;
   position: absolute;
   right: 20px;
   top: 0;
   bottom: 0;
 }

 .nav-bun {
   position: relative;
   display: flex;
   flex-direction: column;
   height: 20px;
   justify-content: space-around;
   cursor: pointer;
 }

 .nav-patty {
   width: 20px;
   height: 2px;
   background-color: white;
   border-radius: 30px;
 }

 .nav-link-container {
   display: none;
 }

 .folio {
   background-color: #303134;
 }

 .github {
   background-color: #121212;
 }

 .linked {
   background-color: white;
   color: #2e79b6;
   border: solid 3px #2e79b6;
 }

 .gmail {
   background-color: red;
 }

 @media (min-width: 600px) {
   .nav {
     padding: 0 40px;
   }

   .nav-title {
     font-size: 36px;
   }

   .nav-burger {
     right: 40px;
   }

   .nav-bun {
     height: 30px;
   }

   .nav-patty {
     width: 30px;
     height: 3px;
   }
 }

 @media (min-width: 900px) {
   .nav-bun {
     display: none;
   }

   .full-nav {
     display: flex;
   }

   .nav-title {
     margin-left: 80px;
     letter-spacing: 2px;
   }

   .nav-link-container {
     display: flex;
     justify-content: flex-end;
     flex-grow: 1;
   }

   .nav-link-container span {
     cursor: pointer;
     margin: auto 0.5em;
     font-size: 20px;
   }

   .nav-link-container span:active {
     position: relative;
     top: 1px;
   }
 }

 @media (max-width: 900px) {
   .full-nav {
     display: none;
   }
 }

 @media (min-width: 1000px) {
   .nav {
     margin-bottom: 16px;
     padding: 0 60px;
   }

   .nav-link-container span {
     font-size: 22px;
   }
 }

 @media (min-width: 1200px) {
   .nav {
     margin-bottom: 16px;
     padding: 0 100px;
   }

   .nav-title {
     margin-left: 100px;
     font-size: 40px;
   }
 }

 @media (min-width: 1400px) {
   .nav {
     margin-bottom: 16px;
     padding: 0 120px;
   }

   .nav-title {
     margin-left: 120px;
   }
 }

 @media (min-width: 1500px) {
   .nav {
     margin-bottom: 16px;
     padding: 0 180px;
   }
 }


 /*******************Header********************/

 .header {
   display: flex;
   flex-direction: column;
 }

 .title-container {
   display: flex;
   background-color: #1c1b1b;
   padding: 8px;
   margin-bottom: -1px;
   color: white;
   justify-content: center;
 }

 .title-container h1 {
   pointer-events: none;
   text-transform: uppercase;
   font-size: 22px;
   margin: 0 4px;
   text-shadow: 1px 1px 0px #585858, 2px 1px 1px #585858;
   letter-spacing: .03em;
 }

 .menu {
   position: absolute;
   right: 0;
   top: 20px;
   z-index: 11;
   background-color: white;
   padding: 8px;
   width: 200px;
   border: groove 4px #0000005e;
   border-radius: 10px;
 }

 .menu-btn {
   display: flex;
   background-color: #2b2a2a;
   color: white;
   margin: 8px 12px;
   padding: 8px 8px 8px 12px;
   border-radius: 8px;
   border: groove 4px #0000005e;
   text-decoration: none;
   letter-spacing: 1px;
   cursor: pointer;
 }

 .menu-btn:hover {
   transform: scale(1.02);
 }

 .menu-btn:active {
   transform: scale(0.99);
 }

 .menu-text {
   margin: auto;
 }

 .menu-copyright {
   display: flex;
   flex-direction: column;
   border-radius: 8px;
   text-align: center;
   text-decoration: none;
   letter-spacing: 1px;
   margin: 8px;
   margin-bottom: 0px;
   padding: 4px 4px 6px;
 }

 .wave {
   fill: #1c1b1b;
   z-index: 9;
 }

 .logo {
   position: absolute;
   left: 18px;
   top: 10px;
   width: 24px;
   height: 24px;
 }

 .burger {
   position: absolute;
   display: flex;
   flex-direction: column;
   right: 20px;
   top: 14px;
   height: 20px;
   justify-content: space-around;
 }

 .patty {
   width: 20px;
   height: 2px;
   background-color: white;
   border-radius: 30px;
 }

 @media (min-width: 600px) {
   .title-container h1 {
     font-size: 36px;
   }

   .logo {
     left: 30px;
     top: 12px;
     width: 40px;
     height: 40px;
   }

   .burger {
     right: 30px;
     top: 18px;
     height: 30px;
   }

   .patty {
     width: 30px;
     height: 3px;
   }

   .menu {
     top: 30px;
   }
 }

 @media (min-width: 800px) {
   .title-container h1 {
     font-size: 38px;
     margin: 8px 8px 0px;
   }

   .logo {
     left: 40px;
     top: 12px;
     width: 60px;
     height: 60px;
   }

   .burger {
     right: 40px;
     top: 24px;
   }

   .menu {
     width: 225px;
     top: 34px;
   }
 }

 @media (min-width: 1000px) {
   .title-container h1 {
     font-size: 44px;
     margin: 8px 8px 0px;
   }

   .logo {
     left: 50px;
     top: 18px;
   }

   .burger {
     right: 60px;
     top: 26px;
   }
 }

 @media (min-width: 1200px) {
   .burger {
     top: 26px;
   }
 }

 @media (min-width: 1400px) {
   .burger {
     top: 22px;
   }
 }

 /******************SWITCH*********************/
 .switch {
   height: 0;
   width: 0;
   visibility: hidden;
   display: contents;
 }

 .switch-label {
   display: flex;
   align-items: center;
   justify-content: space-between;
   cursor: pointer;
   width: 50px;
   height: 18px;
   background: rgb(69, 69, 69);
   border-radius: 100px;
   position: relative;
 }

 .switch-label .switch-button {
   content: '';
   position: absolute;
   left: 0px;
   width: 22px;
   height: 22px;
   border-radius: 45px;
   transition: .5s;
   background: rgb(3, 38, 164);
   background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="white" d="M9.305 1.667V3.75h1.389V1.667h-1.39zm-4.707 1.95l-.982.982L5.09 6.072l.982-.982-1.473-1.473zm10.802 0L13.927 5.09l.982.982 1.473-1.473-.982-.982zM10 5.139a4.872 4.872 0 00-4.862 4.86A4.872 4.872 0 0010 14.862 4.872 4.872 0 0014.86 10 4.872 4.872 0 0010 5.139zm0 1.389A3.462 3.462 0 0113.471 10a3.462 3.462 0 01-3.473 3.472A3.462 3.462 0 016.527 10 3.462 3.462 0 0110 6.528zM1.665 9.305v1.39h2.083v-1.39H1.666zm14.583 0v1.39h2.084v-1.39h-2.084zM5.09 13.928L3.616 15.4l.982.982 1.473-1.473-.982-.982zm9.82 0l-.982.982 1.473 1.473.982-.982-1.473-1.473zM9.305 16.25v2.083h1.389V16.25h-1.39z"/></svg>');
   box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
   background-size: 18px;
   background-repeat: no-repeat;
   background-position: center;
 }

 .switch:checked+.switch-label .switch-button {
   left: calc(100%);
   transform: translateX(-100%);
   background-color: #073463;
   background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="white" d="M4.2 2.5l-.7 1.8-1.8.7 1.8.7.7 1.8.6-1.8L6.7 5l-1.9-.7-.6-1.8zm15 8.3a6.7 6.7 0 11-6.6-6.6 5.8 5.8 0 006.6 6.6z"/></svg>');
 }

 @media (min-width: 600px) {
   .switch-label {
     width: 64px;
     height: 22px;
   }

   .switch-label .switch-button {
     width: 26px;
     height: 26px;
     background-size: 22px;
     background-repeat: no-repeat;
     background-position: center;
   }
 }

 /*******************Home**********************/
 .home-switch {
   display: flex;
   justify-content: center;
 }

 .home-content {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   gap: 10px;
   padding: 16px;
 }

 .card {
   cursor: pointer;
   flex-direction: column;
   display: flex;
   background-color: #1c1b1b;
   box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19) !important;
   border-radius: 16px;
   transition: all 0.2s ease-in-out;
   margin-bottom: 24px;
 }

 .card:hover {
   position: relative;
   transform: scale(1.02);
 }

 .card:active {
   transform: scale(0.99);
 }

 .content-header {
   font-size: 20px;
   font-weight: 600;
   margin: 4px auto 8px;
 }

 .card-content {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   background-color: rgb(245, 242, 239);
   padding: 5px 10px 25px 10px;
 }

 .content-description {
   font-weight: 500;
   margin-bottom: 16px;
   font-size: 18px;
 }

 .complexity-container {
   display: flex;
   justify-content: space-evenly;
   margin-top: auto;
   line-height: 24px;
   color: blue;
   font-size: 1.15em;
 }

 .times {
   color: black;
 }

 @media (min-width: 400px) {
   .content-description {
     font-size: 19px;
   }
 }

 @media (min-width: 500px) {
   .card {
     width: 70%;
   }
 }

 @media (min-width: 600px) {
   .card {
     width: 55%;
     margin-bottom: 40px;
     font-size: 18px;
   }

   .content-header {
     font-size: 21px;
   }

   .content-description {
     font-size: 20px;
   }
 }

 @media (min-width: 800px) {
   .card {
     width: 50%;
   }

   .content-description {
     font-size: 20px;
     margin-bottom: 22px;
   }

   .card-content {
     padding: 8px 24px 24px;
   }
 }

 @media (min-width: 1000px) {
   .card {
     max-width: 40%;
   }
 }

 @media (min-width: 1200px) {
   .card {
     max-width: 35%;
   }
 }

 @media (min-width: 1400px) {
   .home-content {
     width: 80%;
     margin: auto;
   }
 }

 /****************BARS*****************/
 .equalizer {
   display: flex;
   justify-content: center;
   margin: 1em auto;
 }

 .equalizer-bar {
   width: 1.8rem;
   margin: 0 3px;
   display: flex;
   flex-direction: column-reverse;
 }

 .equalizer-bar span {
   background: rgb(3, 38, 164);
   background: linear-gradient(90deg, rgba(3, 38, 164, 1) 0%, rgba(0, 72, 252, 1) 0%, rgba(3, 12, 27, 1) 100%);
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
 }

 /*******************Top Container**********************/

 .top-container {
   display: flex;
   flex-direction: column;
   width: 90%;
   margin: auto;
   margin-bottom: 2em;
   font-size: 19px;
   line-height: 26px;
   letter-spacing: 0.005em;
 }

 .explanation-heading {
   margin: 12px auto 0;
   pointer-events: none;
 }

 .explanation-list {
   width: 95%;
   padding-inline-start: 0;
   pointer-events: none;
   margin: auto;
   list-style: disc;
   margin-inline-start: 1em;
 }

 .explanation-list li {
   margin-bottom: 8px !important;
 }

 .explanation-list div {
   font-weight: 600;
   margin-bottom: 1em;
 }

 .checked-variable {
   color: blue;
 }

 .array-index {
   color: #57309d;
 }

 .adjacent-element {
   color: green;
 }

 .sorted-array {
   color: green;
 }

 .unsorted-array {
   color: #bc4013;
 }

 .current-explanation {
   color: blue;
 }

 .value-element {
   color: #f06c07;
 }

 @media (min-width: 400px) {
   .top-container {
     font-size: 20px;
     line-height: 28px;
   }
 }

 @media (min-width: 800px) {
   .top-container {
     width: 80%;
   }

   .explanation-list {
     width: 100%;
   }
 }

 @media (min-width: 1000px) {
   .top-container {
     font-size: 21px;
     line-height: 32px;
     width: 85%;
   }

   .explanation-heading {
     width: 90%;
     font-weight: 500;
   }

   .explanation-list {
     width: fit-content;
   }
 }

 @media (min-width: 1200px) {
   .top-container {
     width: 75%;
     font-size: 22px;
   }

   .selection.top-container {
     width: 85%;
   }
 }

 @media (min-width: 1400px) {
   .top-container {
     width: 70%;
   }
 }

 .method {
   margin: 32px auto 32px;
 }

 pre {
   width: fit-content;
   font-weight: 400;
   font-size: 10px;
   padding: .5em !important;
   background-color: rgb(47, 47, 47);
   line-height: normal;
   margin: auto;
 }

 pre span {
   color: rgb(255, 255, 255);
 }

 .keyword {
   color: #ffeb3b;
 }

 .boolean {
   color: #c780f7;
 }

 .punctuation {
   color: #fb842a;
 }

 .parameter {
   color: #c780f7;
 }

 @media (min-width: 400px) {
   pre {
     font-size: 12px;
   }
 }

 @media (min-width: 700px) {
   pre {
     font-size: 17px;
     padding: 1em 3em !important;
   }
 }

 /*******************Bottom Container**********************/

 .bottom-container {
   display: flex;
   flex-grow: 1;
   margin-top: 1%;
 }

 @media (max-width: 1200px) {
   .bottom-container {
     flex-direction: column-reverse;
   }
 }

 /*******************Side-Display**********************/

 .side-display {
   display: flex;
   width: fit-content;
   margin: 3em auto 0;
   background-color: #1d1d1d !important;
   box-shadow: 0px 0px 20px 0px rgb(0 0 0) inset, 0 0 0 0 black !important;
   border-radius: 40px;
   padding: 8px;
   font-family: "open-sans", sans-serif;
   font-weight: 700;
   font-style: normal;
 }

 .var-container {
   display: flex;
   flex-direction: column;
   color: white;
   justify-content: space-around;
   pointer-events: none;
   margin: 8px;
   font-size: 18px;
 }

 .var-container h4 {
   margin-bottom: 0px;
 }

 .array-container {
   height: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 20px;
 }

 .array-span {
   margin-top: auto;
   margin-bottom: auto;
   margin-left: 0.33em;
   letter-spacing: 0.25em;
   color: #f06c07;
   font-size: 20px;
 }

 .checked-container {
   display: flex;
   flex-grow: 1;
   flex-direction: column;
   align-items: center;
   text-align: center;
   padding-top: 5px;
 }

 .insertion.array-container {
   height: 33%;
 }

 .insertion.checked-container {
   flex-grow: unset;
 }

 @media (min-width: 600px) {
   .array-span {
     font-size: 22px;
   }
 }

 @media (min-width: 1200px) {
   .side-display {
     padding: 8px;
     margin: auto 0 auto 3em;
   }
 }

 @media (min-width: 1400px) {
   .side-display {
     margin: auto 0 auto 7em;
   }
 }

 @media (min-width: 1600px) {
   .side-display {
     margin: auto 0 auto 10em;
   }
 }

 /*******************Button Box**********************/

 .button-box {
   display: flex;
   flex-direction: column;
   color: white;
   border-right-style: groove;
   border-right-color: #919ca10d;
   padding: 10px 6px;
 }

 .action-buttons {
   display: flex;
   justify-content: space-evenly;
   gap: 6px;
 }

 .button {
   padding: 5px;
   box-sizing: border-box;
   background: #f06c07;
   border: none;
   border-radius: 10px;
   color: white;
   cursor: pointer;
   text-decoration: none;
   font-weight: 600;
   transition: background-color 500ms;
 }

 .mute-button {
   margin: .5em 0;
   border-radius: 8px;
 }

 .refresh-button {
   padding: 5px 10px;
 }

 .button:hover {
   background: white;
   color: #f06c07;
 }

 .button:active {
   background: #6e5b5b3d;
   transform: scale(0.98);
 }

 .button:disabled {
   color: #555;
   pointer-events: none;
 }

 /*******************SLIDER******************/

 .slider-container {
   display: flex;
   /* padding-top: 1em; */
   width: 100%;
 }

 .slide-box {
   display: flex;
 }

 .slider-label {
   display: flex;
   color: white;
   text-align: center;
   flex-direction: column;
   writing-mode: vertical-lr;
   text-orientation: upright;
   letter-spacing: 15px;
   margin-left: auto;
   margin-right: auto;
   pointer-events: none;
   width: 50%;
   justify-content: center;
 }

 .mark-label {
   display: flex;
   color: white;
   text-align: center;
   flex-direction: column;
   writing-mode: vertical-lr;
   text-orientation: upright;
   letter-spacing: 5px;
   margin-left: auto;
   margin-right: auto;
   pointer-events: none;
 }

 .horizontal-slider {
   width: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .track {
   background-color: #f06c07;
   height: auto;
   width: 20px;
   border: 1px solid white;
   border-radius: 11px;
 }

 .track.track-1 {
   background-color: transparent;
   z-index: 0;
 }

 .thumb {
   height: 30px;
   width: 30px;
   background-color: #f06c07;
   border: 2px solid white;
   color: #fff;
   border-radius: 50%;
   cursor: grab;
   text-align: center;
   line-height: 30px;
 }


 .mark {
   background-color: white;
   width: 8px;
   height: 8px;
   border: #f06c07 solid 1px;
   border-radius: 50%;
   margin: 4px;
 }

 /*********************Tubes********************/
 .row {
   --gap: .75em;
   display: flex;
   flex-grow: 1;
   justify-content: center;
   height: 10em;
   gap: var(--gap);
   margin-top: 1.5%;
   overflow-x: clip;
 }

 .tube {
   --width: calc(10vw + 0.7rem);
   --skew: calc(0.5vw + 0.05rem);
   --tube-color: #ffe2e2;
   --fill-color: black;
   width: var(--width);
   margin-top: var(--skew);
   border-top-left-radius: 50% var(--skew);
   border-top-right-radius: 50% var(--skew);
   border-bottom-left-radius: 50% var(--skew);
   border-bottom-right-radius: 50% var(--skew);
   display: grid;
   grid-template-rows: max-content auto max-content;
   position: relative;
   pointer-events: none;
 }

 .tube::before {
   content: "";
   position: absolute;
   width: calc(100% + var(--width) * 1);
   z-index: -1;
   bottom: 0px;
   height: calc(var(--skew) * 8);
   background: #1b1a1a68;
   border-radius: 100% 0%;
   filter: blur(14px);
   left: 3px;
 }

 .cap {
   --cap-height: calc(var(--width) * 0.4);
   height: calc(var(--cap-height) + var(--skew));
   border-bottom-left-radius: inherit;
   border-bottom-right-radius: inherit;
   background-color: var(--tube-color);
   background-image: linear-gradient(to left,
       rgb(0 0 0 / 0.25),
       transparent 50%);
   position: relative;
   z-index: 2;
   color: var(--fill-color);
   display: grid;
   place-content: center;
   font-size: 10px;
   font-weight: 700;
   font-style: normal;
   padding-bottom: 10px;
   text-align: center;
 }

 .cap::after {
   content: "";
   position: absolute;
   width: 100%;
   height: calc(var(--skew) * 2);
   background-color: var(--tube-color);
   background-image: linear-gradient(to right, rgb(0 0 0 / 0.3), transparent);
   border-radius: 50%;
   top: calc(var(--skew) * -1);
 }

 .base {
   border-bottom-left-radius: inherit;
   border-bottom-right-radius: inherit;
   background-color: var(--tube-color);
   background-image: linear-gradient(to left,
       rgba(0, 0, 0, 0.353),
       transparent 40%);
   position: relative;
   display: grid;
   justify-items: center;
   text-align: center;
   overflow: hidden;
 }

 .text {
   width: 100%;
   color: var(--fill-color);
   padding-top: calc(var(--skew) + var(--width) * 0.1);
   padding-bottom: calc(var(--width) * 0.1);
   display: grid;
   place-content: center;
   margin-top: calc(var(--skew) * -0.5);
   border-bottom-left-radius: 50% var(--skew);
   border-bottom-right-radius: 50% var(--skew);
   line-height: 1;
   font-size: calc(var(--width) * 0.4);
   position: relative;
   font-weight: 600;
 }

 .fill {
   margin-top: calc(var(--skew) * -1);
   color: white;
   padding-top: 50%;
   position: relative;
   z-index: 1;
   --glas-gradient: linear-gradient(to right,
       rgb(0 0 0 / 0.25),
       transparent 10% 15%,
       rgb(255 255 255 / 0.5) 20%,
       transparent 50% 90%,
       rgb(0 0 0 / 0.125));
   background-image: var(--glas-gradient);
 }

 .fill::before {
   position: absolute;
   content: "";
   width: 100%;
   --fill-start: var(--skew);
   --fill-end: calc(var(--percent) * 1% + var(--skew));
   background-color: var(--fill-color);
   bottom: calc(var(--skew) * -1);
   border-bottom-left-radius: 50% var(--skew);
   border-bottom-right-radius: 50% var(--skew);
   background-image: var(--glas-gradient),
     radial-gradient(ellipse 100% calc(var(--skew) * 2) at center calc(100% - var(--skew)),
       rgb(255 255 255 /0.125) calc(50% - 1px),
       transparent 50%),
     linear-gradient(to right,
       rgb(0 0 0 / 0.25),
       transparent 50% 70%,
       rgb(0 0 0 / 0.25));
   height: var(--fill-end);
 }

 .animated.fill::before {
   position: absolute;
   content: "";
   width: 100%;
   --fill-start: var(--skew);
   --fill-end: calc(var(--percent) * 1% + var(--skew));
   height: var(--skew);
   background-color: var(--fill-color);
   bottom: calc(var(--skew) * -1);
   border-bottom-left-radius: 50% var(--skew);
   border-bottom-right-radius: 50% var(--skew);
   background-image: var(--glas-gradient),
     radial-gradient(ellipse 100% calc(var(--skew) * 2) at center calc(100% - var(--skew)),
       rgb(255 255 255 /0.125) calc(50% - 1px),
       transparent 50%),
     linear-gradient(to right,
       rgb(0 0 0 / 0.25),
       transparent 50% 70%,
       rgb(0 0 0 / 0.25));
   animation: fill-before 0.66s linear forwards;
 }


 .fill::after {
   content: "";
   position: absolute;
   z-index: 0;
   width: 100%;
   height: calc(var(--skew) * 2);
   background-color: var(--fill-color);
   border-radius: 50%;
   --fill-start: calc(var(--skew) * -1);
   --fill-end: calc(var(--percent) * 1% - var(--skew));
   background-image: var(--glas-gradient),
     linear-gradient(to right, rgb(69 68 68 / 25%), transparent 100%);
   bottom: var(--fill-end);
 }

 .animated.fill::after {
   content: "";
   position: absolute;
   z-index: 0;
   width: 100%;
   height: calc(var(--skew) * 2);
   background-color: var(--fill-color);
   border-radius: 50%;
   --fill-start: calc(var(--skew) * -1);
   --fill-end: calc(var(--percent) * 1% - var(--skew));
   bottom: var(--fill-start);
   background-image: var(--glas-gradient),
     linear-gradient(to right, rgb(69 68 68 / 25%), transparent 100%);
   animation: fill-after 0.66s linear forwards;
 }

 .current-element>.cap::before {
   content: "arr[i]";
   position: relative;
   top: 4px;
 }

 .next-element>.cap::before {
   content: "arr[i + 1]";
   position: relative;
   top: 2px;
 }

 .current-element {
   --fill-color: orangered;
 }

 .next-element {
   --fill-color: rgb(131, 3, 151);
 }

 .swap-right {

   animation: swapRight .66s ease-out forwards;
 }

 .swap-left {
   z-index: 99;
   animation: swapLeft .66s ease-out forwards;
 }

 .finished {
   --fill-color: #f06c07;
 }

 .finished>.cap::before {
   content: "Sorted";
   position: relative;
   top: 4px;
   font-weight: 600;
 }

 .thought-bubble {
   position: absolute;
   z-index: 5;
   color: #FFF;
   background: #2f2f2f;
   padding: .75em 2em 1em;
   font-weight: 700;
   text-align: center;
   border: 3px groove;
   border-radius: 20px;
   pointer-events: none;
   margin-top: 2.5em;
   animation: appear 0.3s linear forwards;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .bubble-swap {
   left: 1em;
 }

 .swap-bubble.right {
   display: none;
 }

 @keyframes appear {
   0% {
     opacity: 0;
   }

   10% {
     opacity: .1;
   }

   20% {
     opacity: .2;
   }

   30% {
     opacity: .3;
   }

   40% {
     opacity: .4;
   }

   50% {
     opacity: .5;
   }

   60% {
     opacity: .6;
   }

   70% {
     opacity: .7;
   }

   80% {
     opacity: .8;
   }

   90% {
     opacity: 9;
   }

   100% {
     opacity: 1;
   }

 }

 @keyframes moveUp {
   from {
     bottom: 0px;
   }

   to {
     bottom: 15px;
   }
 }

 @keyframes swapRight {
   from {
     left: 0px;
   }

   to {
     left: calc(var(--width) + var(--gap));
   }
 }

 @keyframes swapLeft {
   from {
     right: 0px;
   }

   to {
     right: calc(var(--width) + var(--gap));
   }
 }

 @keyframes fill-before {
   to {
     height: var(--fill-end);
   }
 }

 @keyframes fill-after {
   to {
     bottom: var(--fill-end);
   }
 }

 @media (min-width: 400px) {
   .cap {
     font-size: 11px;
   }
 }

 @media (min-width: 500px) {
   .cap {
     font-size: 13px;
   }
 }

 @media (min-width: 600px) {
   .row {
     --gap: 2em;
     height: 14em;
     gap: var(--gap);
   }

   .cap {
     font-size: 16px;
   }

   .thought-bubble {
     font-size: 26px;
     margin-top: 2.25em;
   }
 }

 @media (min-width: 700px) {
   .cap {
     font-size: 18px;
   }
 }

 @media (min-width: 800px) {
   .row {
     height: 16em;
   }

   .cap {
     font-size: 20px;
   }

   .thought-bubble {
     font-size: 28px;
   }
 }

 @media (min-width: 1000px) {
   .row {
     height: 18em;
   }

   .cap {
     font-size: 24px;
   }


   .thought-bubble {
     font-size: 30px;
   }
 }

 @media (min-width: 1200px) {
   .tube {
     --width: calc(8vw + 0.2rem);
   }

   .thought-bubble {
     margin-top: 2.5em;
   }

   .cap {
     font-size: 22px;
   }
 }

 @media (min-width: 1400px) {
   .row {
     height: calc(14vw + 4em);
   }

   .tube {
     --width: calc(7vw + 0.2rem);
   }
 }

 @media (min-width: 1600px) {

   .thought-bubble {
     margin-top: 2.75em;
   }
 }


 /****************Insertion Tubes******************/
 .sorted>.cap::before {
   content: "Sorted";
   position: relative;
   top: 4px;
   font-weight: 600;
 }

 .current>.cap::before {
   content: "Current";
   position: relative;
 }

 .unSorted-text::before {
   content: "Unsorted";
   position: relative;
   top: 4px;
   font-weight: 600;
 }

 .sorted {
   --fill-color: #f06c07;
 }

 .current {
   --fill-color: blue;
 }

 /****************Selection Tubes******************/

 .min-tube {
   --fill-color: green;
 }

 .min-tube>.cap::before {
   content: "minIndex";
   position: relative;
   top: 4px;
 }

 .compare-tube {
   --fill-color: rgb(131, 3, 151);
 }

 .arri {
   display: flex;
   position: absolute;
   width: 100%;
   justify-content: center;
   color: white;
   background-color: blue;
   border-radius: 8px;
   top: -22%;
   z-index: 4;
   padding-bottom: 3px;
 }

 .arrj {
   display: flex;
   position: absolute;
   width: 100%;
   justify-content: center;
   color: white;
   background-color: rgb(131, 3, 151);
   border-radius: 8px;
   top: -22%;
   z-index: 4;
   padding-bottom: 3px;
 }

 @media (min-width: 600px) {
   .arri {
     font-size: 22px;
   }

   .arrj {
     font-size: 22px;
   }
 }

 @media (min-width: 1000px) {
   .arri {
     font-size: 26px;
   }

   .arrj {
     font-size: 26px;
   }
 }


 /****************Quick Sort Tubes******************/
 .quick-row {
   --gap: .5em;
   display: flex;
   justify-content: center;
   height: 11em;
   gap: var(--gap);
   margin-top: 1.5%;
 }

 .quick-row>.tube {
   --width: calc(7vw + 0.6rem);
   width: var(--width);
 }

 .quick-row>.tube>.cap {
   padding-top: 3px;
 }

 .quick-row>.tube>.arri {
   font-size: 12px;
   top: -15%;
 }

 .quick-row>.tube>.index-element {
   font-size: 10px;
 }

 .pivot-value {
   --fill-color: rgb(131, 3, 151);
 }

 .pivot-value>.cap::before {
   content: "pivot-value";
   position: relative;
   top: 4px;
   font-size: 0.75em;
 }

 .leftArr {
   --fill-color: rgb(131, 3, 151);
 }

 .leftArr>.cap::before {
   content: "leftArr";
   position: relative;
   top: 4px;
   font-size: 0.75em;
 }

 .rightArr {
   --fill-color: blue;
 }

 .rightArr>.cap::before {
   content: "rightArr";
   position: relative;
   top: 4px;
   font-size: 0.75em;
 }

 .pivot-index {
   --fill-color: blue;
 }

 .pivot-index>.cap::before {
   content: "pivot-index";
   position: relative;
   top: 4px;
   font-size: 0.75em;
 }

 .tube>.index-element {
   display: none;
 }

 .tube.index>.index-element {
   display: flex;
   position: absolute;
   width: 100%;
   justify-content: center;
   color: white;
   background-color: #f06c07;
   border-radius: 8px;
   top: -15%;
   z-index: 4;
   padding: 2px 1px;
 }

 .quick-swap.thought-bubble {
   padding: 0.75em 1em 1em;
 }

 @media (min-width: 600px) {
   .quick-row {
     --gap: .5em;
     height: 17em;
     gap: var(--gap);
     margin-top: 1.5%;
   }

   .quick-row>.tube {
     --width: calc(9.5vw + 0.6rem);
     width: var(--width);
   }

   .quick-row>.tube>.arri {
     font-size: 18px;
   }

   .quick-row>.tube>.index-element {
     font-size: 18px;
   }

 }

 @media (min-width: 800px) {
   .quick-row {
     --gap: .75em;

     gap: var(--gap);
     margin-top: 1.5%;
   }

   .quick-row>.tube {
     --width: calc(8.5vw + 0.6rem);
     width: var(--width);
   }

   .quick.array-span {
     font-size: 20px;
   }
 }


 @media (min-width: 1000px) {
   .quick-row {
     --gap: 1.25em;
     height: 19em;
     gap: var(--gap);
     margin-top: 1.5%;
   }

   .quick-row>.tube {
     --width: calc(9vw + 0.5rem);
     width: var(--width);
   }

   .quick-row>.tube>.index-element {
     font-size: 22px;
   }

   .quick-row>.tube>.arri {
     font-size: 22px;
   }

   .quick.array-span {
     font-size: 22px;
   }

   .quick-swap.thought-bubble {
     margin-top: 2.25em;
   }
 }

 @media (min-width: 1200px) {
   .quick.bottom-container {
     flex-direction: column-reverse;
   }

   .quick.side-display {
     margin: 2em auto;
   }

   .quick-row {
     --gap: 1.5em;
     gap: var(--gap);
     margin-top: 1.5%;
   }

   .quick-row>.tube {
     --width: calc(8vw + 0.6rem);
     width: var(--width);
   }

   .quick.thought-bubble {
     margin-top: 3.5em;
   }

   .quick-swap.quick.thought-bubble {
     margin-top: 2.5em;
   }

   .quick.text {
     font-size: calc(var(--width) * 0.35);
   }
 }

 @media (min-width: 1400px) {
   .quick-row {
     --gap: 2.5em;
     height: 22em;
     gap: var(--gap);
     margin-top: 1.5%;
   }

   .quick-row>.tube>.cap {
     font-size: 28px;
   }

   .quick.array-span {
     font-size: 24px;
   }

   .quick-swap.quick.thought-bubble {
     margin-top: 3.5em;
   }
 }

 @media (min-width: 1600px) {
   .quick-row {
     --gap: 2.5em;
     height: 26em;
     gap: var(--gap);
     margin-top: 1.5%;
   }

   .quick-swap.quick.thought-bubble {
     margin-top: 5em;
   }

   .quick.thought-bubble {
     margin-top: 5em;
   }
 }

 /****************************Footer****************************/

 .footer {
   display: flex;
   flex-direction: column;
   line-height: 30px;
   color: ghostwhite;
   background-color: #1c1b1b;
   align-items: center;
   padding: 24px 0 30px;
   z-index: 1;
   position: relative;
   margin-top: 3em;
   font-family: "open-sans", sans-serif;
   font-weight: 700;
   font-style: normal;
 }

 .hi {
   text-align: center;
   margin-bottom: 12px;
 }

 .my-description {
   text-align: center;
   width: 90%;
   margin: 8px auto;
 }

 .divider {
   height: 2px;
   width: 80%;
   background-color: rgba(255, 255, 0, 0.165);
   margin: 16px;
 }

 .footer-links {
   display: flex;
   justify-content: space-evenly;
   color: yellow;
   line-height: 33px;
   cursor: pointer;
   width: 90%;
   font-size: 18px;
 }

 .footer-svg-container {
   transform: rotate(180deg);
   position: relative;
   top: 3px;
 }

 .copyright {
   cursor: default;
 }

 .copyright-container {
   display: flex;
   justify-content: space-evenly;
   width: 90%;
   font-size: .85em;
 }

 .socials {
   display: flex;
   justify-content: space-evenly;
 }

 .sitemap {
   color: yellow !important;
   cursor: pointer !important;
   text-decoration: underline;
   text-align: center;
 }

 .btm-footer {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
 }

 @media (min-width: 500px) {
   .my-description {
     width: 80%;
   }

   .middle-container {
     width: 50%;
   }
 }

 @media (min-width: 600px) {
   .footer-links {
     width: 60%;
     font-size: 20px;
   }

   .copyright-container {
     width: 60%;
   }
 }

 @media (min-width: 700px) {
   .footer {
     font-size: 20px;
   }

   .my-description {
     width: 60%;
     margin: 12px auto;
   }
 }

 @media (min-width: 800px) {
   .footer {
     font-size: 22px;
   }

   .footer-links {
     width: 50%;
     font-size: 22px;
   }

   .copyright-container {
     width: 50%;
   }

   .divider {
     width: 70%;
   }
 }

 @media (min-width: 1000px) {
   .footer {
     flex-direction: row;
     padding: 16px 0;
   }

   .btm-footer {
     flex-direction: row;
     width: 75%;
   }

   .divider {
     display: none;
   }

   .copyright-container {
     width: 100%;
     margin: 24px 0;
   }

   .my-description {
     margin: 0 12px;
     width: 100%;
   }

   .footer-links {
     width: 45%;
   }

   .link {
     text-align: center;
   }
 }

 @media (min-width: 1400px) {
   .social-image span {
     height: 40px !important;
     width: 40px !important;
   }

   .email span {
     height: 40px !important;
     width: 50px !important;
   }
 }

 .active-link {
   display: none;
 }